<header></header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
      <div class="container-fluid">
        {{#if admin}}
        <a class="navbar-brand" href="/admin/dashboard">MessD</a>
        {{/if}}
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/addmenu">Add Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/">Bookings</a>
            </li>
            <!-- <li class="nav-item">
                  <a class="nav-link" href="#!">Attractions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#!">Opinions</a>
                </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/admin/">Contact</a>
            </li>
          </ul>
          
          <ul class="navbar-nav d-flex flex-row ">
            <li class="nav-item me-5 me-lg-0">
              <a class="nav-link profile_logo_nav" href="/admin/">
                <i class="fa-duotone fa-solid fa-user"> </i> 
                {{#if admin}}
                {{admin.name}}
                
                {{else}}
                Login
                {{/if}}

              </a>
              
            </li>
            
            <!-- <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="#!">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="#!">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li> -->
          </ul>
         
        </div>
      </div>
    </nav>
    <!-- Navbar -->

  </header>